<h2>Active Clubs:</h2>
  <% @open_clubs.each do |club| %>
    <h4><%= link_to club.name, club_path(club) %></h4>
  <% end %>

<h2>Upcoming Clubs</h2>
<% @upcoming_clubs.each do |club| %>
  <h4><%= link_to club.name, club_path(club) %></h4>
<% end %>
