<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Join Book Connect!</h1>
    <p>
      Your friend, <%= @user.name %>, has suggested that you sign up for Book Connect.
    </p>
    <p>
      Find other readers by joining an online book club. Don't see a club you like? Create one and invite your friends! Use our online message boards to discuss your latest read or trending literary news.
      Book Connect is an inclusive community encompassing all genres, literary preferences, and topics.
    </p>
    <p> Join Book Connect by clicking this link.</p>
  </body>
</html>
