<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %>, fellow book lover.</h1>
    <p>
      You have successfully signed up for Book Connect. Find other readers by joining an online book club. Don't see a club you like? Create one and invite your friends! Use our online message boards to discuss your latest read or trending literary news.
      Book Connect is an inclusive community encompassing all genres, literary preferences, and topics.
    </p>

    <p>
      Your username is: <%= @user.name %>.<br>
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
