<h1>Welcome to Book Connect</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% if !logged_in? %>
<h3>Sign Up</h3>

<%= render partial: 'users/form', locals: {user: @user}  %>

<% end %>


<h3>Upcoming Book Clubs</h3>

<div id = "upcoming">
  <% @upcoming.each do |club| %>
    <%= link_to club.name, book_path(club.book) %>
    <% end %>

</div>

<h3>Open Book Clubs</h3>

<div id = "open">
  <% @open.each do |club| %>
    <%= link_to club.name, book_path(club.book) %>
    <% end %>
</div>