<div class="wide">
    <div class="logo">Welcome to Book Connect</div>
</div>

<% if !logged_in? %>
<h3>Sign Up</h3>
<%= render partial: 'users/form', locals: {user: @user}  %>
<% end %>


<h3>Upcoming Book Clubs</h3>

<div class = "book_card_group" class = "card-group row">
<% @upcoming.each do |club| %>
    <%=render partial: 'card_group', locals: {club: club} %>
  <% end %>
 </div>
<br>
<br>

<h3>Open Book Clubs</h3>

<div class = "book_card_group" class = "card-group row">
<% @open.each do |club| %>
    <%=render partial: 'card_group', locals: {club: club} %>
  <% end %>
 </div>
